<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Petronode.DigiFitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Petronode.Hubbert_Fit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Petronode.DigiFitter.Properties.Settings>
            <setting name="Previous_File" serializeAs="String">
                <value />
            </setting>
            <setting name="Previous_Image" serializeAs="String">
                <value />
            </setting>
            <setting name="Variable_String" serializeAs="String">
                <value>Variable += </value>
            </setting>
            <setting name="Function_String" serializeAs="String">
                <value>.GetVector( X)</value>
            </setting>
            <setting name="Function_Selection" serializeAs="String">
                <value>0</value>
            </setting>
        </Petronode.DigiFitter.Properties.Settings>
        <Petronode.Hubbert_Fit.Properties.Settings>
            <setting name="Previous_File" serializeAs="String">
                <value />
            </setting>
            <setting name="Previous_Image" serializeAs="String">
                <value />
            </setting>
        </Petronode.Hubbert_Fit.Properties.Settings>
    </userSettings>
</configuration>